* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3498db;
  --green: #2ecc71;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--blue);
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin-bottom: 20px;
}

.box {
  background-color: #8e8888;
  border: 2px solid #ccc;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box:hover {
  background-color: #8f8c8c;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--blue);
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--green);
}

#result {
  font-size: 24px;
  font-weight: bold;
  color: var(--red);
}
